<p>
<strong>URL:</strong>
<%= @artifact.url %>
</p>

<div class="row">
<div class="col-md-6 col-sm-12">
<p>
<strong>MimeType:</strong>
<%= @artifact.mimetype %>
</p>

<p>
<pre>
<%= @artifact.source %>
</pre>
</p>
</div>

<div class="col-md-6 col-sm-12">
<p>
<p>
<strong>Compiled MimeType:</strong>
<%= @artifact.compiled_mimetype %>
</p>

<p>
<pre>
<%= @artifact.compiled %>
</pre>
</p>
</div>
</div>

<%= link_to 'Back', artifacts_path %>
